{{- define "main" }}

<section>
  <h1 id="{{ .Title | anchorize }}">{{ .Title }}</h1>
  {{- if .Params.subtitle }}
  <p class="subtitle">{{ .Params.subtitle }}</p>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <p class="subtitle">
    {{- if .Params.author }}
    {{ delimit .Params.author ", " }}
    {{- else if site.Params.author }}
    {{ site.Params.author }}
    {{- end }}
    {{- if .Date }}
    — {{ .Date.Format (site.Params.DateFormat | default "January 2, 2006") }}
    {{- end }}
  </p>
  {{- end }}
</section>

{{- if .Content }}
<section>
  {{- .Content -}}
</section>
{{- end }}

{{- if .Params.tags }}
<section>
  <p>
    <strong>Tags:</strong>
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    {{- range $index, $tag := ($.GetTerms $tags) }}
      {{- if $index }}, {{ end }}<a href="{{ $tag.Permalink }}">{{ $tag.LinkTitle }}</a>
    {{- end }}
  </p>
</section>
{{- end }}

{{- end }}{{/* end main */}}
